In [41]:
import pandas as pd
import numpy as np
import sqlalchemy

from sqlalchemy import Column
from sqlalchemy import ForeignKey
from sqlalchemy import Integer
from sqlalchemy import String
from sqlalchemy.orm import declarative_base
from sqlalchemy.orm import relationship
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
import psycopg2

from config import db_password

import time

In [44]:
class MyClass():
    x=5

p1=MyClass()
print(p1.x)

5

In [49]:
class Person():
    def __init__(self,name,age):
        self.name=name
        self.age=age
p1=Person("Tony",40)
print(f"{p1.name} is {p1.age}")

Tony is 40

In [9]:
test_df=pd.DataFrame(data=[["1","a","Car"],["2","b","Book"]], columns=["ANumber","ALetter","ANoun"])

test_df

  ANumber ALetter ANoun
0       1       a   Car
1       2       b  Book

In [42]:
Base= declarative_base

class TestRec(Base):
    __tablename__ = "test"
    
    ANumber = Column(Integer)
    ALetter = Column(String(20))
    ANoun = Column(String(20))

    def __repr__(self):
        return f"TestRec(ANumber={self.ANumber}, ALetter={self.ALetter}, ANoun={self.ANoun})"

TypeError: function() argument 1 must be code, not str

In [40]:
# add the code to create the connection to the PostgreSQL database, then add the movies_df DataFrame to a SQL database.
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Harvester"
engine = create_engine(db_string)
test_df.to_sql(name='test', con=engine, if_exists='replace')

In [38]:
Base = declarative_base

class User(Base):
    __tablename__ = "user_account"

    id = Column(Integer, primary_key=True)
    name = Column(String(30))
    fullname = Column(String)
    
    addresses = relationship(
        "Address", back_populates="user", cascade="all, delete-orphan"
    )

    def __repr__(self):
        return f"User(id={self.id!r}, name={self.name!r}, fullname={self.fullname!r})"
        
class Address(Base):
    __tablename__ = "address"

    id = Column(Integer, primary_key=True)
    email_address = Column(String, nullable=False)
    user_id = Column(Integer, ForeignKey("user_account.id"), nullable=False)

    user = relationship("User", back_populates="addresses")

    def __repr__(self):
        return f"Address(id={self.id!r}, email_address={self.email_address!r})"

TypeError: function() argument 1 must be code, not str

In [13]:
session=Session(engine)