In [14]:
import pandas as pd
import numpy as np

import psycopg2
import sqlalchemy
from sqlalchemy import Table, Column, Integer, String
from sqlalchemy import ForeignKey
from sqlalchemy import MetaData
from sqlalchemy import create_engine
from sqlalchemy import insert, update
from sqlalchemy import select, bindparam
from sqlalchemy import func, cast
from sqlalchemy import literal_column
from sqlalchemy import text
from sqlalchemy import and_, or_

from sqlalchemy.orm import declarative_base
from sqlalchemy.orm import relationship
from sqlalchemy.orm import Session

from sqlalchemy.ext.automap import automap_base

from config import local_password

import plotly

import time, datetime
from datetime import date
from datetime import datetime

In [2]:
metadata_obj=MetaData()

In [3]:
# add the code to create the connection to the PostgreSQL database
db_string = f"postgresql://postgres:{local_password}@127.0.0.1:5432/Harvester"
engine = create_engine(db_string)
session=Session(engine)

In [4]:
# Get table metadata
sr_meta=Table("solution_readings",metadata_obj,autoload_with=engine)
sl_meta=Table("seed_lots",metadata_obj,autoload_with=engine)
s_meta=Table("seedlings",metadata_obj,autoload_with=engine)
plants_meta=Table("plants",metadata_obj,autoload_with=engine)
pt_meta=Table("plant_types",metadata_obj,autoload_with=engine)
pm_meta=Table("plant_measurements",metadata_obj,autoload_with=engine)

In [33]:
sr_meta

Table('solution_readings', MetaData(), Column('id', INTEGER(), table=<solution_readings>, primary_key=True, nullable=False, server_default=Identity(always=True, start=1000, increment=1, minvalue=1000, maxvalue=20000000, cycle=False, cache=1)), Column('ph', NUMERIC(), table=<solution_readings>, nullable=False), Column('tds', NUMERIC(), table=<solution_readings>, nullable=False), Column('volume', NUMERIC(), table=<solution_readings>, nullable=False), Column('read_date', DATE(), table=<solution_readings>, nullable=False), schema=None)

In [5]:
#create classes for tables
Base = automap_base()
Base.prepare(engine, reflect=True)

sr=Base.classes.solution_readings
sl=Base.classes.seed_lots
s=Base.classes.seedlings
plants=Base.classes.plants
pt=Base.classes.plant_types
pm=Base.classes.plant_measurements

In [ ]:
#try to update record in seedlings table

In [10]:
myseedling=s(start_date="2022-05-30",seed_lot_id=511)

In [11]:
myseedling

In [12]:
session.add(myseedling)
session.commit()

In [22]:
session.execute(
    update(s).
    where(s.id=='2002').
    values(germinated='TRUE'))

StatementError: (builtins.TypeError) Not a boolean value: 'TRUE'
[SQL: UPDATE seedlings SET germinated=%(germinated)s WHERE seedlings.id = %(id_1)s]
[parameters: [{}]]

In [28]:
stmt=text("UPDATE seedlings SET germinated=:germinated,germination_date=:date WHERE id=:id")
germinated='false'
date=date.today()
id=2005

values=[{'germinated':germinated,'date':date,'id':id}]
session.execute(stmt,values)
session.commit()

In [8]:
#get data from solution readings for plotting
stmt=select(sr_meta).where(sr_meta.c.read_date > func.CURRENT_DATE()-30)
x=[]
ph=[]
tds=[]
volume=[]
dates=[]
with Session(engine) as session:
    for row in session.execute(stmt):
        print(row)
        dates.append(row[4].strftime("%Y-%m-%d"))
        ph.append(float(row[1]))
        tds.append(int(row[2]))
        volume.append(float(row[3]))
dates

(1026, Decimal('6'), Decimal('795'), Decimal('8.4'), datetime.date(2022, 4, 11))
(1027, Decimal('6.1'), Decimal('800'), Decimal('8.4'), datetime.date(2022, 4, 12))
(1028, Decimal('6.2'), Decimal('810'), Decimal('8.3'), datetime.date(2022, 4, 13))
(1029, Decimal('6.3'), Decimal('820'), Decimal('8.3'), datetime.date(2022, 4, 14))
(1030, Decimal('6.3'), Decimal('830'), Decimal('8.3'), datetime.date(2022, 4, 15))
(1031, Decimal('6'), Decimal('800'), Decimal('8.5'), datetime.date(2022, 4, 16))
(1032, Decimal('6.1'), Decimal('810'), Decimal('8.4'), datetime.date(2022, 4, 17))
(1033, Decimal('6.1'), Decimal('820'), Decimal('8.3'), datetime.date(2022, 4, 18))
(1034, Decimal('6.1'), Decimal('830'), Decimal('8.2'), datetime.date(2022, 4, 19))
(1035, Decimal('6.2'), Decimal('840'), Decimal('8.1'), datetime.date(2022, 4, 20))
(1036, Decimal('6.3'), Decimal('850'), Decimal('8'), datetime.date(2022, 4, 21))
(1037, Decimal('6.3'), Decimal('860'), Decimal('7.9'), datetime.date(2022, 4, 22))
(1038, Decimal('6.2'), Decimal('860'), Decimal('7.8'), datetime.date(2022, 4, 23))
(1039, Decimal('6.2'), Decimal('865'), Decimal('7.7'), datetime.date(2022, 4, 24))
(1040, Decimal('6'), Decimal('790'), Decimal('8.5'), datetime.date(2022, 4, 25))
(1041, Decimal('6'), Decimal('795'), Decimal('8.4'), datetime.date(2022, 4, 26))
(1042, Decimal('6.1'), Decimal('800'), Decimal('8.4'), datetime.date(2022, 4, 27))
(1043, Decimal('6.2'), Decimal('810'), Decimal('8.3'), datetime.date(2022, 4, 28))
(1044, Decimal('6.3'), Decimal('820'), Decimal('8.3'), datetime.date(2022, 4, 29))
(1045, Decimal('6.3'), Decimal('830'), Decimal('8.3'), datetime.date(2022, 4, 30))
(1046, Decimal('6.5'), Decimal('924'), Decimal('9.5'), datetime.date(2022, 5, 6))

['2022-04-11',
 '2022-04-12',
 '2022-04-13',
 '2022-04-14',
 '2022-04-15',
 '2022-04-16',
 '2022-04-17',
 '2022-04-18',
 '2022-04-19',
 '2022-04-20',
 '2022-04-21',
 '2022-04-22',
 '2022-04-23',
 '2022-04-24',
 '2022-04-25',
 '2022-04-26',
 '2022-04-27',
 '2022-04-28',
 '2022-04-29',
 '2022-04-30',
 '2022-05-06']

In [108]:
datetime.date(2022, 4, 1)

TypeError: descriptor 'date' requires a 'datetime.datetime' object but received a 'int'

In [17]:
#select Plant Type ID
pt_types=[]
stmt=select(pt_meta.c.type).distinct().order_by(pt_meta.c.type)
with Session(engine) as session:
    for row in session.execute(stmt):
        print(row[0])

Bean-Bush
Herb
Lettuce
Pea
Spinach
Strawberry
Tomato
Watermelon

In [21]:
#example select table and print rows
stmt=select(sr_meta)
with Session(engine) as session:
    for row in session.execute(stmt):
        print(row)

(1016, Decimal('6'), Decimal('800'), Decimal('8.5'), datetime.date(2022, 4, 1))
(1017, Decimal('6.1'), Decimal('810'), Decimal('8.4'), datetime.date(2022, 4, 2))
(1018, Decimal('6.1'), Decimal('820'), Decimal('8.3'), datetime.date(2022, 4, 3))
(1019, Decimal('6.1'), Decimal('830'), Decimal('8.2'), datetime.date(2022, 4, 4))
(1020, Decimal('6.2'), Decimal('840'), Decimal('8.1'), datetime.date(2022, 4, 5))
(1021, Decimal('6.3'), Decimal('850'), Decimal('8'), datetime.date(2022, 4, 6))
(1022, Decimal('6.3'), Decimal('860'), Decimal('7.9'), datetime.date(2022, 4, 7))
(1023, Decimal('6.2'), Decimal('860'), Decimal('7.8'), datetime.date(2022, 4, 8))
(1024, Decimal('6.2'), Decimal('865'), Decimal('7.7'), datetime.date(2022, 4, 9))
(1025, Decimal('6'), Decimal('790'), Decimal('8.5'), datetime.date(2022, 4, 10))
(1026, Decimal('6'), Decimal('795'), Decimal('8.4'), datetime.date(2022, 4, 11))
(1027, Decimal('6.1'), Decimal('800'), Decimal('8.4'), datetime.date(2022, 4, 12))
(1028, Decimal('6.2'), Decimal('810'), Decimal('8.3'), datetime.date(2022, 4, 13))
(1029, Decimal('6.3'), Decimal('820'), Decimal('8.3'), datetime.date(2022, 4, 14))
(1030, Decimal('6.3'), Decimal('830'), Decimal('8.3'), datetime.date(2022, 4, 15))
(1031, Decimal('6'), Decimal('800'), Decimal('8.5'), datetime.date(2022, 4, 16))
(1032, Decimal('6.1'), Decimal('810'), Decimal('8.4'), datetime.date(2022, 4, 17))
(1033, Decimal('6.1'), Decimal('820'), Decimal('8.3'), datetime.date(2022, 4, 18))
(1034, Decimal('6.1'), Decimal('830'), Decimal('8.2'), datetime.date(2022, 4, 19))
(1035, Decimal('6.2'), Decimal('840'), Decimal('8.1'), datetime.date(2022, 4, 20))
(1036, Decimal('6.3'), Decimal('850'), Decimal('8'), datetime.date(2022, 4, 21))
(1037, Decimal('6.3'), Decimal('860'), Decimal('7.9'), datetime.date(2022, 4, 22))
(1038, Decimal('6.2'), Decimal('860'), Decimal('7.8'), datetime.date(2022, 4, 23))
(1039, Decimal('6.2'), Decimal('865'), Decimal('7.7'), datetime.date(2022, 4, 24))
(1040, Decimal('6'), Decimal('790'), Decimal('8.5'), datetime.date(2022, 4, 25))
(1041, Decimal('6'), Decimal('795'), Decimal('8.4'), datetime.date(2022, 4, 26))
(1042, Decimal('6.1'), Decimal('800'), Decimal('8.4'), datetime.date(2022, 4, 27))
(1043, Decimal('6.2'), Decimal('810'), Decimal('8.3'), datetime.date(2022, 4, 28))
(1044, Decimal('6.3'), Decimal('820'), Decimal('8.3'), datetime.date(2022, 4, 29))
(1045, Decimal('6.3'), Decimal('830'), Decimal('8.3'), datetime.date(2022, 4, 30))

# Functions Needed
- Add_Solution_Reading
- Add_Plant_Type
- Add_Seed_Lot
- Add_Seedling
- Add_Plant
- Add_Plant_Measurement

In [10]:
#Add Solution Reading Function
def add_solution_reading(ph,tds,volume):
    with Session(engine) as session:
        reading=sr(ph=ph,tds=tds,volume=volume,read_date=func.current_date())
        session.begin()
        try:
            session.add(reading)
        except:
            session.rollback()
            raise
        else:
            session.commit()

In [15]:
#Add plant type function
def add_plant_type(type,variety,description,notes,planting_instructions,ph,tds):
    with Session(engine) as session:
        ptype=pt(type=type,variety=variety,description=description,notes=notes,
                 planting_instructions=planting_instructions,ph=ph,tds=tds)
        session.begin()
        try:
            session.add(ptype)
        except:
            session.rollback()
            raise
        else:
            session.commit()

In [16]:
#Add seed lot function
def add_seed_lot(vendor,order_date,quantity,price,product_url,plant_type_id):
    with Session(engine) as session:
        seedlot=sl(
            vendor=vendor,order_date=order_date,quantity=quantity,
            price=price,product_url=product_url,
            plant_type_id=plant_type_id
        )
        session.begin()
        try:
            session.add(seedlot)
        except:
            session.rollback()
            raise
        else:
            session.commit()

In [31]:
stmt=select(func.max(pt.id))
with Session(engine) as session:
        for item in session.execute(stmt):
            print(item[0])

55

In [18]:
start_date='2022-05-29'
seed_lot_id=506
add_seedling(start_date,seed_lot_id)

In [15]:
#Add seedling function
def add_seedling(start_date,seed_lot_id):
    with Session(engine) as session:
        seedling=s(
            start_date='2022-05-29',seed_lot_id=seed_lot_id
        )
        session.begin()
        try:
            session.add(seedling)
        except:
            session.rollback()
            raise
        else:
            session.commit()

In [57]:
#Add plant function
def add_plant(location,transfer_date,seedling_id):
    with Session(engine) as session:
        plant=plants(
            location=location,transfer_date=transfer_date,seedling_id=seedling_id
        )
        session.begin()
        try:
            session.add(plant)
        except:
            session.rollback()
            raise
        else:
            session.commit()

In [58]:
print(pm_meta.c.keys())

['id', 'plant_id', 'size_x', 'size_y', 'size_z', 'leaf_count', 'measurement_date', 'harvest_volume']

In [ ]:
#Add plant measurement function
def add_plant_measurement(plant_id, size_x, size_y, size_z, leaf_count, measurement_date, harvest_volume):
    with Session(engine) as session:
        meas=pm(
            plant_id=plant_id, size_x=size_x, size_y=size_y, 
            size_z=size_z, leaf_count=leaf_count, 
            measurement_date=measurement_date, harvest_volume=harvest_volume
        )
        session.begin()
        try:
            session.add(plant)
        except:
            session.rollback()
            raise
        else:
            session.commit()

In [47]:
# test input for add solution reading
ph=5.9
tds=820
volume=8.2

add_solution_reading(ph,tds,volume)

In [28]:
stmt=select(s_meta.c.id).where(s_meta.c.germinated=='true')
with Session(engine) as session:
    for row in session.execute(stmt):
        print(row[0])

2000
2001

In [26]:
    stmt=select(s_meta.c.id).where(s_meta.c.germinated == None).order_by(s_meta.c.id)
    with Session(engine) as session:
        for row in session.execute(stmt):
            print(row[0])

2002
2003